mixin marca-form(submitButtonText, iconClasses, nombre='')
  form(method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='nombre') Nombre
      .col-md-7
        input.form-control(type='text', name='nombre', id='nombre', placeholder='Introduzca el nombre de la marca', value=nombre, required)
    .form-group
      .offset-md-3.col-md-7.pl-2
        button.btn.btn-success(type='submit')
          i.fa-sm(class=iconClasses)
          | #{submitButtonText}

mixin categoria-form(submitButtonText, iconClasses, nombre='')
  form(method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='nombre') Nombre
      .col-md-7
        input.form-control(type='text', name='nombre', id='nombre', placeholder='Introduzca el nombre de la categoría', value=nombre, required)
    .form-group
      .offset-md-3.col-md-7.pl-2
        button.btn.btn-success(type='submit')
          i.fa-sm(class=iconClasses)
          | #{submitButtonText}

mixin producto-form(submitButtonText, iconClasses, categorias, marcas, idCategoria='', idMarca='', modelo='')
  form(method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='categoria') Categoría
      .col-md-7
        select.form-control(name='categoria', id='categoria', required)
          each categoria in categorias
            option(value=`${categoria._id}`, selected=(categoria._id.toString() === idCategoria))= categoria.nombre
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='marca') Marca
      .col-md-7
        select.form-control(name='marca', id='marca', required)
          each marca in marcas
            option(value=`${marca._id}`, selected=(marca._id.toString() === idMarca))= marca.nombre
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='modelo') Modelo
      .col-md-7
        input.form-control(type='text', name='modelo', id='modelo', placeholder='Introduzca el modelo del producto', value=modelo, required)
    .form-group
      .offset-md-3.col-md-7.pl-2
        button.btn.btn-success(type='submit')
          i.fa-sm(class=iconClasses)
          | #{submitButtonText}
